body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.container{padding: 20px;
    background-color: blueviolet;
    height: 70px;
    display: flex;
    justify-content: space-around;
    color: white;
}
.nav-img{
    width: 100px;
    height: 100px;
}
nav{margin-top: 40px;
    display: flex;
    gap: 50px;
}
li{
    list-style: none;
}
.nav-container{
    display: flex;
}
.log{
    background-color: deeppink;
    color: black;
    padding:0px 14px;
    border-radius: 6px;
    font-weight: 800;
}
.bags-container{margin-top: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(233, 232, 232);
}
.bags-img{
    width: 300px;
    height: 300px;
 
}
.bags-head{
    font-size: 40px;
    color: rgb(193, 8, 113);
}
.bags-btn{
    margin-top: 50px;
  
}
button{border: 1px solid violet;
    padding: 10px;
    background-color: none;
    background-color: gray;
    font-size: 14px;
}
.product{margin-top: 80px;
    text-align: center;
    font-weight: 700px;
}
.grid-container{gap: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
/* border: 1px solid red;
max-width: 1100px;
margin: 0 auto; */
margin: 50px 0px;
    /* grid-template-columns: repeat(4,1fr); */
}
.single-product{
    width: 300px;
    /* width: 48%; */
    border: 1px solid teal;
    min-height: 400px;
    background-color: rgb(233, 232, 232);
    box-shadow: 0px 0px 40px 0px;
}
/* .product-li{margin-top: 20px;
    display: flex;
    gap: 30px;
} */
/* .product-img{
    width: 200px;
    height: 200px;
    text-align: center;
} */
/* .product-container{width: 350px;
    background-color: rgb(233, 232, 232);
    padding: 5px;
    box-shadow: 0px 0px 40px 0px;
} */
/* .product-p{font-size: 12px;
    font-family: 200px;
    color: #333;
} */
/* .product-flex{
    display: flex;
} */
.product-container{
    display: flex;
    justify-content: space-between;
}
.single-img{margin-left: 50px;
    width: 150px;
    height: 150px;
}
.li{display: flex;
    padding-right: 10px;
margin-top: 25px;
}
.product-para{
    font-size: 13px;
}
.discount-container{margin-top: 100px;
    background-color: rgb(214, 102, 242);
display: flex;
padding: 10px;
justify-content: space-around;
align-items: center;
}
.discount-img{
    width: 300px;
 height: 300px ; 
}
.discount-btn{

font-weight: 1000px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .customer{
    display: flex;
  
} */
.top-review{
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
}
.single-review{border: 2px solid violet;
    width: 300px;
    gap: 30px;
    background-color:rgba(45, 60, 230, 0.358);
}
.customer-img{
    width: 70px;
    
}
.customer-container{margin-top: 100px;
    /* background-color:rgba(45, 60, 230, 0.358); */
    
    padding: 5px;
   display: flex; 
  flex-wrap: wrap;
 
}